html,
body {
  height: 100%;
}

header, footer {
  -webkit-box-shadow: 0 0 12px rgba(75, 75, 75, 0.4);
          box-shadow: 0 0 12px rgba(75, 75, 75, 0.4);
  background-color: rgba(75, 75, 75, 0.4);
  background-image: unset;
  font-family: unset;
}

header > .title, footer a {
  color: #afafaf;
  text-shadow: 0px 0px 2px #dcdcdc;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: unset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7A67EE), to(#8968CD));
  background-image: linear-gradient(to bottom, #7A67EE, #8968CD);
  overflow: hidden;
}

main .container {
  position: relative;
  top: -0.5rem;
  /* -webkit-box-sizing: border-box;
          box-sizing: border-box; */
  width: 90%;
  /* height: 5rem; */
  border: 2px solid #AB82FF;
  padding-bottom: 0.5rem;
}

main .container .FirstLine {
  text-align: center;
  color: #E6E6FA;
  text-shadow: 0px 0px 8px #AB82FF;
  font-size: 28px;
  font-family: Arial;
  letter-spacing: 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px auto 20px auto;
}

main .container .NextLine {
  text-align: center;
  margin: 5px auto;
  color: #dcdcdc;
  font-size: 14px;
  letter-spacing: 2px;
  font-style: italic;
  /* text-decoration: underline; */
}

.background_effect {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* --- 01 --- */
  /* --- 02 --- */
  /* --- 03 --- */
  /* --- 04 --- */
}

.background_effect > div {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  bottom: -100px;
  background-color: rgba(171, 130, 255, 0.4);
}

.background_effect #particular01 {
  left: 10%;
  -webkit-animation: part01 8s infinite;
          animation: part01 8s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes part01 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    bottom: 100%;
  }
}

@keyframes part01 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    bottom: 100%;
  }
}

.background_effect #particular02 {
  left: 40%;
  -webkit-animation: part02 6s infinite;
          animation: part02 6s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes part02 {
  from {
    -webkit-transform: rotate(0deg) scale(1.5, 1.5);
            transform: rotate(0deg) scale(1.5, 1.5);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(720deg) scale(1.5, 1.5);
            transform: rotate(720deg) scale(1.5, 1.5);
    bottom: 100%;
  }
}

@keyframes part02 {
  from {
    -webkit-transform: rotate(0deg) scale(1.5, 1.5);
            transform: rotate(0deg) scale(1.5, 1.5);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(720deg) scale(1.5, 1.5);
            transform: rotate(720deg) scale(1.5, 1.5);
    bottom: 100%;
  }
}

.background_effect #particular03 {
  left: 65%;
  -webkit-animation: part03 10s infinite;
          animation: part03 10s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes part03 {
  from {
    -webkit-transform: rotate(0deg) scale(1.2, 1.2);
            transform: rotate(0deg) scale(1.2, 1.2);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(1080deg) scale(1.2, 1.2);
            transform: rotate(1080deg) scale(1.2, 1.2);
    bottom: 100%;
  }
}

@keyframes part03 {
  from {
    -webkit-transform: rotate(0deg) scale(1.2, 1.2);
            transform: rotate(0deg) scale(1.2, 1.2);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(1080deg) scale(1.2, 1.2);
            transform: rotate(1080deg) scale(1.2, 1.2);
    bottom: 100%;
  }
}

.background_effect #particular04 {
  left: 90%;
  -webkit-animation: part04 7s infinite;
          animation: part04 7s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes part04 {
  from {
    -webkit-transform: rotate(0deg) scale(0.9, 0.9);
            transform: rotate(0deg) scale(0.9, 0.9);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(720deg) scale(0.9, 0.9);
            transform: rotate(720deg) scale(0.9, 0.9);
    bottom: 100%;
  }
}

@keyframes part04 {
  from {
    -webkit-transform: rotate(0deg) scale(0.9, 0.9);
            transform: rotate(0deg) scale(0.9, 0.9);
    bottom: -100px;
  }
  to {
    -webkit-transform: rotate(720deg) scale(0.9, 0.9);
            transform: rotate(720deg) scale(0.9, 0.9);
    bottom: 100%;
  }
}
/*# sourceMappingURL=index.css.map */